<h2>
  Listings
</h2>

<p>
  Select a home from the listings on the left to see more details about it in the panel on the right
</p>

<div>
  <h3>Homes Index</h3>
  <ul>
    <li>
      <a ui-sref = "listings.show( { id: 123 } )">123 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 234 } )">234 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 345 } )">345 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 456 } )">456 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 567 } )">567 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 678 } )">678 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 789 } )">789 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 890 } )">890 Fake Street</a>
    </li>
    <li>
      <a ui-sref = "listings.show( { id: 901 } )">901 Fake Street</a>
    </li>
  </ul>
</div>


<ui-view></ui-view>